extends layout

block content
    include nav
    section#contact-main.home-main.ultimate-main
        div
            .ultimate-header THE ULTIMATE LUXURY
            .home-main-text.ultimate-main-text Contact Us
        .contact-navigator-container
            #home-tag-contact.contact-navigator-tag Home
            #about-tag-contact.contact-navigator-tag Contact
    .inverted-container
        section.contact-form-section
            form.contact-form-container(action='/contact' method='POST')
                input#customer.contact-form-input.full-name(type='text' name='customer' placeholder='Your full name')
                input#mail.contact-form-input.mail-address(type='email' name='mail' placeholder='Enter email address')
                input#phone.contact-form-input.add-phone(type='text' name='phone' placeholder='Add phone number')
                input#subject.contact-form-input.select-subject(type='text' name='subject' placeholder='Enter Subject')
                textarea#comment.contact-form-input.enter-message(name='comment' placeholder='Enter messages')
                .center
                    input.wide-golden-button(type='submit' value='GET FREE QUOTE')
        div
            section.contact-information-section
                .contact-information-card
                    i.fa.fa-home.contact-information-icon(aria-hidden='true')
                    .contact-information-text
                        .contact-information-text-title Office Address
                        .contact-information-text-description
                            | OXYGEN, Princesa 31, Madrid
                    .contact-information-count 01
                .contact-information-card
                    i.fa.fa-phone.contact-information-icon(aria-hidden='true')
                    .contact-information-text
                        .contact-information-text-title Phone Number
                        .contact-information-text-description
                            div +622-37-37-22
                    .contact-information-count 02
                .contact-information-card
                    i.fa.fa-envelope-open.contact-information-icon(aria-hidden='true')
                    .contact-information-text
                        .contact-information-text-title Email Address
                        .contact-information-text-description
                            | marinarsanisidro@gmail.com
                    .contact-information-count 03            
    section.subscribe-section
        .hotel-miranda-title
            .hotel-miranda-icon H
            div
                .hotel-bold HOTEL
                div MIRANDA
        p.subscribe-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doing
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            | minim veniam, quis nostrud exercitation ullamco laboris nisi.
        .subscribe-form
            input.subscribe-input(placeholder='ENTER YOUR EMAIL ADDRESS')
            button.subscribe-button SUBSCRIBE
    include footer
    script(src='/javascripts/vendor/modernizr-3.11.2.min.js')
    script(src='/javascripts/plugins.js')
    script(src='/javascripts/main.js')