footer
  .copyright COPYRIGHT BY@MARINAROBLE&Ntilde;O
  .logo-line
    a(href='https://github.com/MarinaRobleno' target='_blank')
      i.fa.fa-github.copy-icon(aria-hidden='true')
    a(href='https://www.linkedin.com/in/marina-robleno-velez-fullstack-mern/' target='_blank')
      i.fa.fa-linkedin-square.copy-icon(aria-hidden='true')
    i#twitter.fa.fa-twitter.copy-icon(aria-hidden='true')
    i.fa.fa-behance.copy-icon(aria-hidden='true')
    i.fa.fa-youtube-play.copy-icon(aria-hidden='true')