extends layout

block content
  header.header
    .header-bar
      .hotel-miranda-title
        .hotel-miranda-icon H
        div
          a.home-link(href='/')
            .hotel-bold HOTEL
            div MIRANDA
      i#hamburger-button.fa.fa-bars.hamburger-button(aria-hidden='true')
    #drop-down-box.drop-down-box
      ul.drop-down-list
        li.drop-down-element
          a.link(href='/about-us')  About Us 
        .space
        li.drop-down-element
          a.link(href='/room-list')  Rooms
        .space
        li.drop-down-element
          a.link(href='/room-offers')  Offers 
        .space
        li.drop-down-element
          a.link(href='/single-room')  News 
        .space
        li.drop-down-element
          a.link(href='/contact')  Contact
      .contact-and-icon-container
        .contact-and-icon
          div
            .contact-text Phone Number
            #phone-number.drop-down-contact
              | +622 37 37 22
          i.fa.fa-phone.drop-down-icon(aria-hidden='true')
        .contact-and-icon
          div
            .contact-text Email Address
            #contact-mail.drop-down-contact
              | marinarsanisidro@gmail.com
          i.fa.fa-envelope.drop-down-icon(aria-hidden='true')
  section.home-main
    .home-main-container
      .ultimate-header THE ULTIMATE LUXURY EXPERIENCE
      .home-main-text The Perfect Base For You
      .home-main-button-line
        button#main-button-1.home-main-button
          | TAKE A TOUR
        button#main-button-2.home-main-button
          | LEARN MORE
    img.full-screen-main-image(src='./Images/pexels-ricardo-ortiz-6263634.jpg')
  section.book-panel
    .check-in-line-panel
      #check-in.check-in-panel
        p CHECK IN
        input.check-in-input(type='date')
      #check-out.check-in-panel
        p CHECK OUT
        input.check-in-input(type='date')
    button.book-button Book Now
  section.arrow-down-section
    .arrow-down-external
      i.fa.fa-arrow-down.arrow-down-internal(aria-hidden='true')
  section.services-section
    .section-header
      .since SINCE
      .year 1994
    .section-body-center
      | Situated In Prime Position At The Foot Of The Slopes Of Courchevel
      | Moriond.
    .services-grid
      button.service-card.first-height
        img.service-icon(src='Images/icon-1.png')
        p.service-card-text BREAKFAST
      button.service-card-negative.second-height
        img.service-icon(src='Images/icon@2x.png')
        p.service-card-text-negative AIRPORT PICKUP
      button.service-card.third-height
        i#luxury-icon.fa.fa-star-o.service-icon(aria-hidden='true')
        p.service-card-text LUXURY ROOM
      button#bbq-party.service-card.second-height
        img.service-icon(src='Images/icon(2).png')
        p.service-card-text BBQ PARTY
      button.service-card.first-height
        img.service-icon(src='Images/icon3.png')
        p.service-card-text CITY GUIDE
  section.room-type-section
    .section-header ROOM TYPE
    .section-body Inspired Lodging
    //
      <div class='room-type-nav'>
      <button class='room-type-nav-button'>Luxury</button>
      <button class='room-type-nav-button'>Family</button>
      <button class='room-type-nav-button'>Double Bed</button>
      <button class='room-type-nav-button'>Relax</button>
      </div>
    .room-type-grid
      #room-type-1.room-type-grid-item
        .room-type-grid-data
          i.fa.fa-th.grid-icon(aria-hidden='true')
          .room-type-number-rooms 12 ROOMS
        .room-type-grid-title Junior Suite
      #room-type-2.room-type-grid-item
        .room-type-grid-data
          i.fa.fa-th.grid-icon(aria-hidden='true')
          .room-type-number-rooms 12 ROOMS
        .room-type-grid-title Junior Suite
      #room-type-3.room-type-grid-item
        .room-type-grid-data
          i.fa.fa-th.grid-icon(aria-hidden='true')
          .room-type-number-rooms 03 ROOMS
        .room-type-grid-title Luxury Home Of Fame
      #room-type-4.room-type-grid-item
        .room-type-grid-data
          i.fa.fa-th.grid-icon(aria-hidden='true')
          .room-type-number-rooms 10 ROOMS
        .room-type-grid-title Pacific Room
    button#view-all-button.home-main-button
      | VIEW ALL ROOMS
  section.call-to-action-section
    .tour-header
      .section-header CALL TO ACTION
      .section-body The Thin Escape.
      .paragraph-and-button
        p.action-paragraph
          | Miranda has everything for your trip & every single things.
        button#tour-button.action-button TAKE A TOUR
    .tour-advantages
      .individual-advantage
        .advantage-icon-frame
          i.fa.fa-plane.advantage-icon(aria-hidden='true')
        .advantage-text-container
          .advantage-title Easy & Free Transport
          p.advantage-paragraph
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            | enim ad minim veniam, quis nostrud exercitation ullamco laboris
            | nisi ut aliquip ex ea commodo consequat.
      .individual-advantage
        #negative-frame.advantage-icon-frame
          i#negative-icon.fa.fa-coffee.advantage-icon(aria-hidden='true')
        .advantage-text-container
          .advantage-title Clean & Fresh Food
          p.advantage-paragraph
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            | enim ad minim veniam, quis nostrud exercitation ullamco laboris
            | nisi ut aliquip ex ea commodo consequat.
      .individual-advantage
        .advantage-icon-frame
          i.fa.fa-life-ring.advantage-icon(aria-hidden='true')
        .advantage-text-container
          .advantage-title Play Ground & Swiming Pool
          p.advantage-paragraph
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            | enim ad minim veniam, quis nostrud exercitation ullamco laboris
            | nisi ut aliquip ex ea commodo consequat.
  .border-bottom-advantages
  section.carousel-section
    .carousel-container
      img.carousel-image(src='')
    .carousel-detail-box
      .carousel-detail-box-header
        i.fa.fa-bed.carousel-detail-box-icon(aria-hidden='true')
        .carousel-detail-box-counter 01/08
      .carousel-detail-box-title Luxury Room
      p.carousel-detail-box-description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna.
  section.take-a-tour-section
    .take-a-tour-text
      .section-header TAKE A TOUR
      .section-body Discover Our Underground.
      p.take-a-tour-paragraph
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        | minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat.
      button#view-all-button.home-main-button BOOK NOW
    iframe#discover-video(width='100%' height='315' src='https://www.youtube.com/embed/Bu3Doe45lcU?start=25' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  section.testimonials-section
    .section-header TESTIMONIALS
    .section-body Client Feedback
    .feedback-container
      .feedback-card
        img.feedback-image(src='./Images/stock person.jpg')
        i.fa.fa-check.feedback-check(aria-hidden='true')
        p.feedback-name Donald H. Hilixer
        p.feedback-job FOUNDER, QUX CO.
        p.feedback-description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          | eiusmod tempor incididunt ut labore et dolore.
    .testimonials-extra-panel
      #extra-panel-header.section-header OUR ROOMS
      .testimonials-extra-panel-title
        | Each of our nine lovely double guest rooms feature a private bath,
        | wi-fi, cable television and include full breakfast.
      .extra-panel-button-line
        button#main-button-1.home-main-button
          | TAKE A TOUR
        button#main-button-2.home-main-button
          | PACKAGE & POLICY
  section.blog-section
    .section-header BLOG
    .section-body-container
      .section-body News Feeds
      .blog-button-line
        button#white-button.blog-button
          i.fa.fa-arrow-left.blog-arrow-left(aria-hidden='true')
        button#golden-button.blog-button
          i.fa.fa-arrow-right.blog-arrow-right(aria-hidden='true')
    .post-container
      .post
        img.post-image(src='./Images/news-feeds-photo-1.jpeg')
        .post-data
          .post-card-data
            i.fa.fa-calendar.news-feeds-icon(aria-hidden='true')
            p.post-card-text 23rd March 2019
          .post-card-data
            i.fa.fa-user-o.news-feeds-icon(aria-hidden='true')
            p.post-card-text By Admin
        .post-title
          | Each of our 8 double rooms has its own distinct.
        .post-description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          | eiusmod tempor incididunt ut labore et dolore.
      .post
        img.post-image(src='./Images/news-feeds-photo-2.jpg')
        .post-data
          .post-card-data
            i.fa.fa-calendar.news-feeds-icon(aria-hidden='true')
            p.post-card-text 23rd March 2019
          .post-card-data
            i.fa.fa-user-o.news-feeds-icon(aria-hidden='true')
            p.post-card-text By Admin
        .post-title
          | Each of our 8 double rooms has its own distinct.
        .post-description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          | eiusmod tempor incididunt ut labore et dolore.
  section.subscribe-section
    .hotel-miranda-title
      .hotel-miranda-icon H
      div
        .hotel-bold HOTEL
        div MIRANDA
    p.subscribe-text
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doing
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      | minim veniam, quis nostrud exercitation ullamco laboris nisi.
    .subscribe-form
      input.subscribe-input(placeholder='ENTER YOUR EMAIL ADDRESS')
      button.subscribe-button SUBSCRIBE
  footer
    .copyright COPYRIGHT BY@EXAMPLE
    .logo-line
      i.fa.fa-facebook.copy-icon(aria-hidden='true')
      i#twitter.fa.fa-twitter.copy-icon(aria-hidden='true')
      i.fa.fa-behance.copy-icon(aria-hidden='true')
      i.fa.fa-linkedin-square.copy-icon(aria-hidden='true')
      i.fa.fa-youtube-play.copy-icon(aria-hidden='true')
  script(src='js/vendor/modernizr-3.11.2.min.js')
  script(src='js/plugins.js')
  script(src='js/main.js')

