doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    title Miranda Hotel
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(property='og:title' content='')
    meta(property='og:type' content='')
    meta(property='og:url' content='')
    meta(property='og:image' content='')
    link(rel='manifest' href='site.webmanifest')
    link(rel='apple-touch-icon' href='icon.png')
    // Place favicon.ico in the root directory
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(href='https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Archivo:wght@400;500;600;700&family=Old+Standard+TT&family=Roboto+Condensed&display=swap' rel='stylesheet')
    meta(name='theme-color' content='#fafafa')
    script(src='https://kit.fontawesome.com/9f1176b2b5.js' crossorigin='anonymous')
    meta(name='theme-color' content='#fafafa')
    script(src='https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js')
    script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css')
    script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js')
    script(src='https://cdn.jsdelivr.net/npm/flatpickr')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')

  body
    block content
