extends layout

block content
    include nav
    section#contact-main.home-main.ultimate-main.room-detail-main
        div
            .ultimate-header THE ULTIMATE LUXURY
            .home-main-text.ultimate-main-text Ultimate Room
        .contact-navigator-container
            #home-tag-contact.contact-navigator-tag Home
            #about-tag-contact.contact-navigator-tag Rooms
    section.room-list-section
        each room in rooms
            .room-list-card
                img.room-list-image(src=room.photo[Math.floor(Math.random() * (1 - 0 + 1) ) + 1])
                .room-icon-bar
                    i.fa.fa-bed.room-icon-bar-icon(aria-hidden='true')
                    i.fa.fa-wifi.room-icon-bar-icon(aria-hidden='true')
                    i.fa.fa-car.room-icon-bar-icon(aria-hidden='true')
                    i.fa.fa-coffee(aria-hidden='true')
                    i.fa.fa-cutlery(aria-hidden='true')
                    i.fa.fa-diamond(aria-hidden='true')
                    i.fa.fa-asterisk(aria-hidden='true')
                .room-list-card-content
                    .room-list-card-information
                        .room-list-card-title='Room Number ' + room.roomNumber
                        p.room-list-card-text=room.roomType
                    .room-list-card-booking
                        .room-list-card-price
                            .room-list-price-number='$' + room.price/100
                            .room-list-price-night /Night
                        a.link(href='./single-room')
                            .room-list-card-booking-text Booking Now
    section.subscribe-section
        .hotel-miranda-title
            .hotel-miranda-icon H
            div
                .hotel-bold HOTEL
                div MIRANDA
        p.subscribe-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doing
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            | minim veniam, quis nostrud exercitation ullamco laboris nisi.
        .subscribe-form
            input.subscribe-input(placeholder='ENTER YOUR EMAIL ADDRESS')
            button.subscribe-button SUBSCRIBE
    include footer
    script(src='/javascripts/vendor/modernizr-3.11.2.min.js')
    script(src='/javascripts/plugins.js')
    script(src='/javascripts/main.js')
