extends layout

block content
    header.header
        .header-bar
            .hotel-miranda-title
                .hotel-miranda-icon H
                div
                    a.link(href='./index.html')
                        .hotel-bold HOTEL
                        div MIRANDA
            i#hamburger-button.fa.fa-bars.hamburger-button(aria-hidden='true')
        #drop-down-box.drop-down-box
            ul.drop-down-list
                li.drop-down-element
                    a.link(href='./about-us.html')  About Us 
                .space
                li.drop-down-element
                    a.link(href='./room-list.html')  Rooms
                .space
                li.drop-down-element
                    a.link(href='./room-offers.html')  Offers 
                .space
                li.drop-down-element
                    a.link(href='./single-room.html')  News 
                .space
                li.drop-down-element
                    a.link(href='./contact.html')  Contact
            .contact-and-icon-container
                .contact-and-icon
                    div
                        .contact-text Phone Number
                        #phone-number.drop-down-contact
                            | +622 37 37 22
                    i.fa.fa-phone.drop-down-icon(aria-hidden='true')
                .contact-and-icon
                    div
                        .contact-text Email Address
                        #contact-mail.drop-down-contact
                            | marinarsanisidro@gmail.com
                    i.fa.fa-envelope.drop-down-icon(aria-hidden='true')
    section#contact-main.home-main.ultimate-main.room-detail-main
        div
            .ultimate-header THE ULTIMATE LUXURY
            .home-main-text.ultimate-main-text Ultimate Room
        .contact-navigator-container
            #home-tag-contact.contact-navigator-tag Home
            #about-tag-contact.contact-navigator-tag Rooms
    section.room-list-section
        .room-list-card
            img.room-list-image(src='./Images/pexels-engin-akyurt-1579253 (1).jpg')
            .room-icon-bar
                i.fa.fa-bed.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-wifi.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-car.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-coffee(aria-hidden='true')
                i.fa.fa-cutlery(aria-hidden='true')
                i.fa.fa-diamond(aria-hidden='true')
                i.fa.fa-asterisk(aria-hidden='true')
            .room-list-card-content
                .room-list-card-information
                    .room-list-card-title Minimal Duplex Room
                    p.room-list-card-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        | enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        | nisi ut aliquip ex ea commodo consequat.
                .room-list-card-booking
                    .room-list-card-price
                        .room-list-price-number $345
                        .room-list-price-night /Night
                    .room-list-card-booking-text Booking Now
        .room-list-card
            img.room-list-image(src='./Images/pexels-engin-akyurt-1579253 (1).jpg')
            .room-icon-bar
                i.fa.fa-bed.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-wifi.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-car.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-coffee(aria-hidden='true')
                i.fa.fa-cutlery(aria-hidden='true')
                i.fa.fa-diamond(aria-hidden='true')
                i.fa.fa-asterisk(aria-hidden='true')
            .room-list-card-content
                .room-list-card-information
                    .room-list-card-title Minimal Duplex Room
                    p.room-list-card-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        | enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        | nisi ut aliquip ex ea commodo consequat.
                .room-list-card-booking
                    .room-list-card-price
                        .room-list-price-number $345
                        .room-list-price-night /Night
                    .room-list-card-booking-text Booking Now
        .room-list-card
            img.room-list-image(src='./Images/pexels-engin-akyurt-1579253 (1).jpg')
            .room-icon-bar
                i.fa.fa-bed.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-wifi.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-car.room-icon-bar-icon(aria-hidden='true')
                i.fa.fa-coffee(aria-hidden='true')
                i.fa.fa-cutlery(aria-hidden='true')
                i.fa.fa-diamond(aria-hidden='true')
                i.fa.fa-asterisk(aria-hidden='true')
            .room-list-card-content
                .room-list-card-information
                    .room-list-card-title Minimal Duplex Room
                    p.room-list-card-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        | enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        | nisi ut aliquip ex ea commodo consequat.
                .room-list-card-booking
                    .room-list-card-price
                        .room-list-price-number $345
                        .room-list-price-night /Night
                    .room-list-card-booking-text Booking Now
    section.subscribe-section
        .hotel-miranda-title
            .hotel-miranda-icon H
            div
                .hotel-bold HOTEL
                div MIRANDA
        p.subscribe-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doing
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            | minim veniam, quis nostrud exercitation ullamco laboris nisi.
        .subscribe-form
            input.subscribe-input(placeholder='ENTER YOUR EMAIL ADDRESS')
            button.subscribe-button SUBSCRIBE
    footer
        .copyright COPYRIGHT BY@EXAMPLE
        .logo-line
            i.fa.fa-facebook.copy-icon(aria-hidden='true')
            i#twitter.fa.fa-twitter.copy-icon(aria-hidden='true')
            i.fa.fa-behance.copy-icon(aria-hidden='true')
            i.fa.fa-linkedin-square.copy-icon(aria-hidden='true')
            i.fa.fa-youtube-play.copy-icon(aria-hidden='true')
    script(src='js/vendor/modernizr-3.11.2.min.js')
    script(src='js/plugins.js')
    script(src='js/main.js')
